
#a {
    background-color: aquamarine;
}
#b {
    background-color: lightblue;
}
#c {
    background-color: blueviolet;
}
#d {
    background: lightpink;
}

#e{
    background-color: lightseagreen;
}

#f{
    background-color: magenta;
}

#g{
    background-color: mediumslateblue;
}

#h{
    background-color: darkorange;
   

}

#i{
    background-color: deeppink;
}